# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
venv/

# Outputs / generated
outputs/
*.pkl
*.csv
*.png
*.log

# SUMO / simulation files
*.xml
*.sumocfg

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
.cursor